{{ define "seo" }}
  {{ $paginator := .Paginate .Pages }}

  {{ if gt $paginator.Pages 0}}
    <link rel="canonical" href="{{ .Paginator.URL }}">
  {{else}}
    <link rel="canonical" href="{{ .Permalink }}">
  {{ end }}

  {{ if $paginator.HasNext }}
    <link rel="next" href="{{ .Paginator.Next.URL }}" />
  {{end}}

  {{ if $paginator.HasPrev }}
    <link rel="prev" href="{{ .Paginator.Prev.URL }}" />
  {{end}}
{{ end }}

{{ define "main" }}
{{- partial "blog-categories.html" . -}}

<section class="blog__wrapper">
    <div class="blog__articles">
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
            {{- partial "blog-article.html" . -}}
        {{ end }}

        {{ template "_internal/pagination.html" . }}
    </div>
    <div class="blog__side-bar">
        {{- partial "blog-side-bar.html" . -}}
    </div>
</section>

{{ end }}
