.highlight {    
    @include light-theme((
        color: $light-mode-highlight
    ));

    @include dark-theme((
        color: $dark-mode-highlight
    ));

    pre code span {
        display: inline;
    }
}

.bold {
    font-weight: bold;
}