.highlight {    
    @include light-theme((
        color: $light-mode-highlight
    ));

    @include dark-theme((
        color: $dark-mode-highlight
    ));

    pre code span {
        display: inline;
    }

    pre code .cl{
        color: #b35a5a !important;
    }
}

.bold {
    font-weight: bold;
}