.image {
    
    &--full {
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;

        .image__item {
            width: 100%;
            display: none;

            @include respond-to('medium') {
                display: block;
            }
        }
    }
}
