.price-box {
    top: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(51, 77, 102, 0.2);
    padding: 16px 32px 0 32px;
    margin: 24px 0;
    min-width: 280px;

    @include light-theme((
        background: $dark-mode-text
    ));

    @include dark-theme((
        background: $light-mode-text
    ));

    table {

        th {
            text-align: center;
            font-size: $text-size;
            font-weight: bold;

            @include light-theme((
                background: $dark-mode-text,
                color: $light-mode-text
            ));
    
            @include dark-theme((
                background: $light-mode-text,
                color: $dark-mode-text
            ));
        }

        tr {
            text-align: center;

            td {
                padding-left: 0;
                padding-right: 0;
            }

            &:last-child {
                td {
                    border: none;
                }
            }
        }
    }
}
