.servers {
    @include grid($gutter: $default-grid-gutter);
    @include container();

    flex-wrap: wrap;

    &__heading, &__list {
        @include grid-col($col: 12, $gutter: $default-grid-gutter);
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;

        @include max-width('medium') {
            thead {
                display: none;
            }
    
            tr {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                border: none;

                @include light-theme((
                    border-bottom: 1px solid #E2E2E2
                ));

                @include dark-theme((
                    border-bottom: 1px solid #3C3C40
                ));
    
                td {

                    &.location {
                        padding: 8px 0px;
                    }

                    &.load {
                        
                        text-align: left;
                    }

                    padding: 0;
                    border: none;

                    em {
                        display: block;
                        margin: 15px 0 3px 0;
                        font-size: 12px;
                        font-style: normal;

                        @include light-theme((
                            color: rgba(34, 34, 38, 0.5)
                        ));

                        @include dark-theme((
                            color: rgba(255, 255, 255, 0.5)
                        ));
                    }
                }
            }
        }

        th {
            padding: 16px;
            border-top: none;

            @include light-theme((
                border: 1px solid #E2E2E2
            ));

            @include dark-theme((
                border: 1px solid #3C3C40
            ));

            &.location {
                width: 22%;
            }

            &.load {
                width: 10%;
                text-align: right;
            }

            &.provider {
                width: 15%;
            }

            &.wg_public_key {
                width: 18%;
            }
        }

        td {
            padding: 16px;
            word-wrap: break-word;
            line-height: 1.4;

            @include light-theme((
                border: 1px solid #E2E2E2
            ));

            @include dark-theme((
                border: 1px solid #3C3C40
            ));

            &.load {
                text-align: right;
            }

            &.location {
                .location__data {
                    display: flex;            
                    align-items: baseline;
                }
                
                font-weight: bold;
                line-height: 24px;
                

                i {
                    min-width: 24px;
                    border-radius: 2px;
                    margin-right: 16px;
                }

                div {
                    padding-top: 2px;
                }
            }
            &.hostnames {
                ul {
                    padding-left: 8px;
                }
            }

            em {
                display: none;
            }

            strong {
                font-weight: 500;
            }
        }
    }
}
