.servers {
    @include grid($gutter: $default-grid-gutter);
    @include container();
    flex-wrap: wrap;
    display: block;

    &__list {

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: -1px;

            &:last-of-type {
                margin-bottom: 0;
            }
    
            @include light-theme((
                border: 1px solid #E2E2E2
            ));
    
            @include dark-theme((
                border: 1px solid #3C3C40
            ));
    
            &__header {

                &:last-of-type {
                    margin-bottom: -1px;
                }
    
                .col {
                    padding: 19px 20px!important;
                    font-size: 13px!important;
                    font-weight: normal!important;
                    line-height: normal!important;
    
                    @include light-theme((
                        background-color: $light-mode-alternative-background,
                        color: rgba(34, 34, 38, 0.5)
                    ));
            
                    @include dark-theme((
                        background-color: $dark-mode-alternative-background,
                        color: rgba(255, 255, 255, 0.5)
                    ));
                }
            }
    
            .col {
                padding: 15px 20px;
                font-size: 15px;
    
                &.server {
                    width: 24%;
                }
    
                &.country {
                    width: 21%;
                    font-weight: bold;
                    line-height: 24px;

                    .location__data {
                        display: flex;            
                        align-items: baseline;

                        img {
                            display: inline-block;
                            width: 20px;
                            height: auto;
                            border-radius: 2px;
                            margin-right: 12px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
    
                &.city {
                    width: 21%;
                    font-weight: bold;
                }
    
                &.provider {
                    width: 17%;
                }
    
                &.load {
                    width: 11%;
                }
    
                &.action {
                    width: 6%;
                    text-align: center;
                }
            }
        }
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;

        @include max-width('medium') {
            thead {
                display: none;
            }
    
            tr {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                border: none;

                @include light-theme((
                    border-bottom: 1px solid #E2E2E2
                ));

                @include dark-theme((
                    border-bottom: 1px solid #3C3C40
                ));
    
                td {

                    &.location {
                        padding: 8px 0px;
                    }

                    &.load {
                        
                        text-align: left;
                    }

                    padding: 0;
                    border: none!important;

                    em {
                        display: block;
                        margin: 15px 0 3px 0;
                        font-size: 13px;
                        font-style: normal;

                        @include light-theme((
                            color: rgba(34, 34, 38, 0.5)
                        ));

                        @include dark-theme((
                            color: rgba(255, 255, 255, 0.5)
                        ));
                    }
                }
            }
        }

        th {
            padding: 12px;
            font-size: 13px;
            border-top: none;

            @include light-theme((
                border: 1px solid #E2E2E2
            ));

            @include dark-theme((
                border: 1px solid #3C3C40
            ));

            &.hostname {
                width: 22%;
            }

            &.location {
                width: 22%;
            }

            &.load {
                width: 10%;
                text-align: right;
            }

            &.provider {
                width: 15%;
            }

            &.port {
                width: 10%;
            }

            &.wg_public_key {
                width: 20%;
            }
        }

        td {
            padding: 12px;
            font-size: 15px;
            word-wrap: break-word;
            line-height: 1.4;

            @include light-theme((
                border: 1px solid #E2E2E2
            ));

            @include dark-theme((
                border: 1px solid #3C3C40
            ));

            &.load {
                text-align: right;
            }

            &.location {
                .location__data {
                    display: flex;            
                    align-items: baseline;
                }
                
                font-weight: bold;
                line-height: 24px;
                

                img {
                    display: inline-block;
                    width: 24px;
                    height: auto;
                    border-radius: 2px;
                    margin-right: 16px;
                    position: relative;
                    top: 3px;
                }

                div {
                    padding-top: 2px;
                }
            }
            &.hostname {
                ul {
                    padding-left: 4px;

                    li {
                        margin-bottom: 10px;
                    }

                    li:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            em {
                display: none;
            }

            strong {
                font-weight: 500;
            }
        }
    }
}
