.servers {
    @include grid($gutter: $default-grid-gutter);
    @include container();
    flex-wrap: wrap;
    display: block;

    &__list {

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: -1px;

            &:last-of-type {
                margin-bottom: 0;
            }
    
            @include light-theme((
                border: 1px solid #E2E2E2
            ));
    
            @include dark-theme((
                border: 1px solid #3C3C40
            ));

            @include max-width('medium') {
                justify-content: space-between;
            }

            .col {
                padding: 15px 20px;
                font-size: 15px;
                pointer-events: none;
    
                &.server {
                    width: 24%;

                    @include max-width('medium') {
                        display: none;
                    }
                }
    
                &.country {
                    width: 21%;
                    font-weight: bold;
                    line-height: 24px;

                    @include max-width('medium') {
                        display: none;
                    }
                }
    
                &.city {
                    width: 21%;
                    font-weight: bold;

                    @include max-width('medium') {
                        display: none;
                    }
                }
    
                &.provider {
                    width: 17%;

                    @include max-width('medium') {
                        display: none;
                    }
                }
    
                &.load {
                    width: 11%;

                    @include max-width('medium') {
                        display: none;
                    }
                }
    
                &.action {
                    width: 6%;
                    text-align: center;
                    padding: 0;
                    user-select: none;
                    min-width: 55px;

                    a {
                        display: inline-block;
                        padding: 15px;
                        transform: rotate(180deg);
                        cursor: pointer;
                        pointer-events: all;

                        &.active {
                            transform: rotate(0deg);

                            img {
                                top: -2px;
                            }
                        }
                    }

                    img {
                        display: inline-block;
                        pointer-events: none;
                        position: relative;
                    }
                }

                &.details {
                    width: 100%;
                    display: none;
                    flex-direction: row;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    &.active {
                        display: flex;

                        @include max-width('medium') {
                            display: block;
                        }
                    }

                    div {
                        margin-right: 30px;
                        word-break: break-all;

                        &:last-of-type {
                            margin-right: 0;
                        }

                        @include max-width('medium') {
                            margin-bottom: 15px;

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }

                    em {
                        display: block;
                        font-size: 13px;
                        font-style: normal;
                        margin-bottom: 8px;

                        @include light-theme((
                            color: rgba(34, 34, 38, 0.5)
                        ));

                        @include dark-theme((
                            color: rgba(255, 255, 255, 0.5)
                        ));
                    }
                }

                &.single {
                    width: 85%;
                    display: none;

                    @include max-width('medium') {
                        display: block;
                    }

                    div {
                        margin-bottom: 8px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }

                .location__data {
                    display: flex;            
                    align-items: baseline;

                    img {
                        display: inline-block;
                        width: 20px;
                        height: auto;
                        border-radius: 2px;
                        margin-right: 12px;
                        position: relative;
                        top: 3px;
                    }
                }
            }

            &__filter {
                &:last-of-type {
                    margin-bottom: 25px;
                }

                @include light-theme((
                    border: none
                ));
        
                @include dark-theme((
                    border: none
                ));

                .col {
                    padding-top: 0;
                    padding-bottom: 0;

                    &:first-of-type {
                        padding-left: 0;
                    }

                    &.load {
                        width: 7%;
                    }

                    &.action {
                        width: 10%;
                        text-align: right;

                        a {
                            padding: 0;
                            transform: rotate(0deg);
                        }
                    }
                }

                .search {
                    margin: 0;
                    width: 222px;
                    font-size: 14px;
                }

                .select {
                    width: 170px;
                }
            }
    
            &__header {

                @include max-width('medium') {
                    display: none;
                }

                &:last-of-type {
                    margin-bottom: -1px;
                }
    
                .col {
                    padding: 19px 20px;
                    font-size: 13px;
                    font-weight: normal!important;
                    line-height: normal!important;
    
                    @include light-theme((
                        background-color: $light-mode-alternative-background,
                        color: rgba(34, 34, 38, 0.5)
                    ));
            
                    @include dark-theme((
                        background-color: $dark-mode-alternative-background,
                        color: rgba(255, 255, 255, 0.5)
                    ));

                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        user-select: none;

                        @include light-theme((
                            color: $light-mode-text
                        ));
                
                        @include dark-theme((
                            color: $dark-mode-text
                        ));

                        &:hover {
                            text-decoration: none;
                        }

                        i {
                            display: block;
                            width: 16px;
                            height: 10px;
                            margin-left: 10px;
                            background: url('/images-static/arrow-gray.svg') no-repeat center;
                            transform: rotate(180deg);
                        }
                    }

                    &.active a i {
                        background-image: url('/images-static/arrow-blue.svg');
                    }

                    &.desc a i {
                        transform: rotate(0deg);
                    }

                    &.action {
                        padding: 19px 20px;
                    }
                }
            }
        }
    }
}
