.sidebar {
    &-header {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;
        display: block;

        &--inline {
            display: inline-block;
            margin-bottom: 0;
        }
    }
  }
