img {
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 30px 0;

    figcaption {

        h4 {
            font-weight: normal;
            font-size: 14px;
            font-style: italic;
            text-align: center;

            @include light-theme((
                color: rgba($light-mode-text, .55)
            ));

            @include dark-theme((
                color: rgba($dark-mode-text, .55)
            ));
        }
    }
}
