pre,
code {
    max-width: 780px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;

    p {
        margin: 0;
    }
}

code {
    padding: 0 8px;
    display: inline-block;

    @include light-theme((
        color: $light-mode-text,
        background: $light-mode-alternative-background!important
    ));

    @include dark-theme((
        color: $dark-mode-text,
        background: $dark-mode-alternative-2-background!important
    ));
}

pre {
    padding: 24px;
    color: #B35A5A;
    margin: 34px 0;

    @include light-theme((
        background: $light-mode-alternative-background!important
    ));

    @include dark-theme((
        background: $dark-mode-alternative-background!important
    ));

    code {
        display: block;
        color: #B35A5A;

        @include light-theme((
            color: #B35A5A,
            background: $light-mode-alternative-background!important
        ));

        @include dark-theme((
            color: #B35A5A,
            background: $dark-mode-alternative-background!important
        ));

        p {
            &:first-of-type {
                margin-top: 24px;
            }
        }

        a {
            color: #B35A5A;

            &:hover {
                text-decoration: none;
                cursor: text;
            }
        }

        span {
            display: block;
            margin-top: 24px;
            margin-bottom: -20px;
            color: #75715e;

            &:first-of-type {
                margin-top: 0;
            }

            @include light-theme((
                color: rgba($light-mode-headings, 0.35)!important
            ));

            @include dark-theme((
                color: rgba($dark-mode-headings, 0.35)!important
            ));
        }
    }
}

.content--product {

    .highlight {

        pre {
            padding: 0;
        }
    
        code {
            padding: 44px 34px;
        }
    }

    pre {
        padding: 0;

        p {

            code {
                padding-top: 0!important;
            }
        }
    }

    code {
        padding: 0 34px 0 34px;

        &:first-child {
            padding-top: 44px;
        }

        &:last-child {
            padding-bottom: 44px;
        }
    }
}
