pre,
code {
    max-width: 780px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;

    p {
        margin: 0;
    }
}

code {
    padding: 0 8px;
    display: inline-block;

    @include light-theme((
        color: $light-mode-text,
        background: $light-mode-alternative-background!important
    ));

    @include dark-theme((
        color: $dark-mode-text,
        background: $dark-mode-alternative-2-background!important
    ));
}

pre {
    padding: 24px;
    color: #B35A5A;
    margin: 34px 0;

    @include light-theme((
        background: $light-mode-alternative-background!important
    ));

    @include dark-theme((
        background: $dark-mode-alternative-background!important
    ));

    code {
        display: block;
        color: #B35A5A;

        @include light-theme((
            color: #B35A5A,
            background: $light-mode-alternative-background!important
        ));

        @include dark-theme((
            color: #B35A5A,
            background: $dark-mode-alternative-background!important
        ));

        p {
            &:first-of-type {
                margin-top: 24px;
            }
        }

        a {
            color: #B35A5A;

            &:hover {
                text-decoration: none;
                cursor: text;
            }
        }

        span {
            display: block;
            margin-top: 24px;

            &:first-of-type {
                margin-top: 0;
            }

            @include light-theme((
                color: rgba($light-mode-headings, 0.35)!important
            ));

            @include dark-theme((
                color: rgba($dark-mode-headings, 0.35)!important
            ));
        }
    }
}

.content--product {

    code {
        overflow-x: auto;
        white-space: nowrap;
    }
}
