$light-mode-background: #ffffff;
$light-mode-alternative-background: #F2F2F2;
$light-mode-headings: #000000;
$light-mode-text: #222226;
$light-mode-modal-background: #ffffff;

$dark-mode-background: #29292E;
$dark-mode-alternative-background: #1B1B20;
$dark-mode-alternative-2-background: rgba(242, 242, 242, 0.1);
$dark-mode-headings: #ffffff;
$dark-mode-text: rgba(255, 255, 255, 0.8);
$dark-mode-modal-background: #3D3D42;

$blue-color: #449CF8;
$light-mode-red-color: #FF3344;
$dark-mode-red-color: #FF3344;
$light-mode-yellow-color: #FFD646;
$dark-mode-yellow-color: #FFD646;
$light-mode-green-color: #14A357;
$dark-mode-green-color: #21D074;

$white-color: #FFFFFF;


$dark-mode-highlight: #FFFFFF;
$light-mode-highlight: #000000;