$font-family: "Roboto Mono", monospace;

$text-size: 16px;
$heading-size-h1: 48px;
$heading-size-h2: 32px;
$heading-size-h3: 20px;
$heading-size-h4: 16px;

$blog-heading-size-h1: 36px;
$blog-heading-size-h2: 26px;
$blog-heading-size-h3: 20px;
$blog-heading-size-h4: 16px;
