$font-main-mono: "Roboto Mono",monospace;

$max-width: 850px;

$brk-mobile: 576px;
$brk-mobile-xs: 370px;
$brk-tablet: 768px;

$white: #ffffff;
$blue: #398fe6;
$lightBlue: #F5F9FD;
$red: #ff3344;

$darkHeader: #2a394b;

$dark-lighter: #222226AA;
$dark-opacity: #222226CC;
$dark: #222226;
$lightGrey: rgba(107, 130, 153, 0.5);
$grey: #6b8299;
$greyBorder: #d6dbe0;
$black: #000000;


$border-gray: #334D6620;