.cash-icon {
    background: url("../../assets/icons/cash.svg");
    width: 30px;
    height: 24px;
    background-size: 30px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.giftcard-icon {
    background: url("../../assets/icons/giftcard.svg");
    width: 30px;
    height: 24px;
    background-size: 30px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.google-icon {
    background: url("../../assets/icons/google-pay.svg");
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.apple-icon {
    background: url("../../assets/icons/apple.svg");
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.credit-card-icon {
    background: url("../../assets/icons/credit-card.svg");
    width: 27px;
    height: 24px;
    background-size: 27px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.bitcoin-icon {
    background: url("../../assets/icons/bitcoin.svg");
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.monero-icon {
    background: url("../../assets/icons/monero.svg");
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.paypal-icon {
    background: url("../../assets/icons/paypal.svg");
    width: 23px;
    height: 24px;
    background-size: 23px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:2px;
    margin-right: 0.8em;
}

.icon-back {
    background: url("../../assets/icons/arrow-left.svg");
    width: 35px;
    height: 24px;
    background-size: 35px 24px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 2px;
}