@import "@/styles/_vars.scss";

.tabs ul {
    align-items: center;
    list-style: none;

    display: flex;
    padding-inline-start: 0px;

    @media (max-width: $brk-mobile) {
        flex-direction: column;
    }

    &.with-line {
        border-bottom: 1px solid #dbdbdb;
        li a {
            border-bottom: 1px solid #dbdbdb;
        }
    }

    li {
        display: block;
        font-family: $font-main-mono;
        font-size: 16px;
        font-weight: 500;

        &:before {
            display: none;
        }

        &:not(:last-child) {
            margin-right: 48px;

            @media (max-width: $brk-mobile) {
               margin-right: 0px;
            }
        }

        a {
            display: flex;
            opacity: 0.5;
            
            justify-content: center;
            margin-bottom: -1.5px;
            padding: 0.5em 0em;

            vertical-align: top;
            align-items: center;
            text-decoration: none;

            @include light-theme((
                color: $dark
            ));

            @include dark-theme((
                color: $white
            ));
        }

        &.is-active {

            a {
                opacity: 1;
                border-bottom: 2px solid #398fe6;                
                font-weight: bold;                
            }
        }
    }
}