<article class="article">
    <a href="{{ .Page.Permalink }}" class="article__image {{ if eq .Params.thumbnailImage nil }}article__image--placeholder{{ end }}">
        {{ if .Params.thumbnailImage }}
            <img src="{{ site.Params.cdnUrl }}{{ .Params.thumbnailImage }}" class="img-fluid" alt="{{ .Page.Title }}"/>
        {{ else }}
            <img src="{{ site.Params.cdnUrl }}/images-static/ivpn-placeholder.svg" class="img-fluid" alt="{{ .Page.Title }}"/>
        {{ end }}
    </a>
    <div class="article__summary">
        {{ range .Params.categories }}
            {{ with ($.Site.GetPage (printf "/categories/%s" (. | urlize))) }}
                <a href="{{ .Permalink }}" class="badge">{{ .Title }}</a>
            {{ end }}
        {{ end }}
        <h3><a href="{{ .Page.Permalink}}">{{ .Page.Title }}</a></h3>
        <p class="article-meta">
            {{ range .Params.authors }}
                {{ with ($.Site.GetPage (printf "/authors/%s" (. | urlize))) }}
                    By <a href="{{ .Permalink }}">{{ .Title }}</a> |
                {{ end }}
            {{ end }}
            Posted on {{ .Page.Date.Format "January 2, 2006"}}
        </p>

        <p class="article-summary">{{ .Page.Summary | safeHTML }}</p>
        <a class="article-continue" href="{{ .Page.Permalink }}">Continue reading</a>
    </div>
</article>
