<link rel="shortcut icon" type="image/x-icon" href="{{ site.Params.cdnUrl }}/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{ site.Params.cdnUrl }}/images-static/favicon/apple-touch-icon-152x152.png">
<meta name="msapplication-TileColor" content="#ff3344">
<meta name="msapplication-TileImage" content="{{ site.Params.cdnUrl }}/images-static/favicon/mstile-144x144.png">
<meta name="application-name" content="IVPN">
<meta name="msapplication-tooltip" content="IVPN">
<meta name="msapplication-config" content="{{ site.Params.cdnUrl }}/images-static/favicon/ieconfig.xml">
<link rel="icon" href="{{ site.Params.cdnUrl }}/images-static/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" href="{{ site.Params.cdnUrl }}/images-static/favicon/favicon-24x24.png" sizes="24x24">
<link rel="icon" href="{{ site.Params.cdnUrl }}/images-static/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="{{ site.Params.cdnUrl }}/images-static/favicon/favicon-64x64.png" sizes="64x64">
<link rel="icon" href="{{ site.Params.cdnUrl }}/images-static/favicon/favicon-96x96.png" sizes="96x96">
<link rel="shortcut icon" sizes="196x196" href="{{ site.Params.cdnUrl }}/images-static/favicon/android-chrome-192x192.png">
