{{ if not (isset .Params "hideheaders") }}
<footer class="footer">
    <div class="footer__grid">
        <div class="footer__logo">
            <a href="/en">
                <img width="84" height="29" class="navigation__logo" src="{{ site.Params.cdnUrl }}/images/logo.svg" />
            </a>
        </div>
        <div class="footer__column">
            <ul class="footer__menu">
                {{ range .Site.Menus.footercolone }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ if (.Param "translated") }}
                    {{ if (eq site.Language.Lang "en")  }}
                    <li>
                        <a href="{{ replace .Page.RelPermalink "/en/" "/es/" }}">Versión española</a>
                    </li>
                    {{ else }}
                    <li>
                        <a href="{{ replace .Page.RelPermalink "/es/" "/en/" }}">English version</a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        <div class="footer__column">
            <ul class="footer__menu">
                {{ range .Site.Menus.footercoltwo }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="footer__column">
            <ul class="footer__menu">
                {{ range .Site.Menus.footercolthree }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="footer__column">
            <ul class="footer__menu">
                {{ range .Site.Menus.footercolfour }}
                <li>
                    <img width="24" height="25" src="{{ site.Params.cdnUrl }}/images/{{ .Identifier }}.svg" /><a
                        href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="footer__trademark">
            {{ T "wireguardTrademark" }}
        </div>
    </div>
    <script src="{{ site.Params.cdnUrl }}{{ index $.Site.Data.manifest "/js/menu.js" }}"></script>

    {{ if $.Site.Params.matomoEnabled }}
        <script type="text/javascript">
            var _paq = window._paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "{{ $.Site.Params.matomoUrl }}/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', {{ $.Site.Params.matomoSiteId }}]);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        }) ();
        </script>

        <noscript>
            <p><img src="{{ $.Site.Params.matomoUrl }}/matomo.php?idsite={{ $.Site.Params.matomoSiteId }}" style="border:0;" alt="" /></p>
        </noscript>
    {{ end }}
</footer>
{{ end }}
