{{ define "main" }}
    <div class="content__text">
        {{- $ssrHtml := "" -}}
        {{- if site.Data.ssr -}}
            {{- with index site.Data.ssr "servers" -}}{{- $ssrHtml = .html -}}{{- end -}}
        {{- end -}}
        <div id="servers">{{ $ssrHtml | safeHTML }}</div>
    </div>
{{ end }}

{{ define "main-style" }}
    <link rel="stylesheet" href="{{ site.Params.cdnUrl }}{{ index site.Data.manifest "/css/servers.css" }}">
{{ end }}

{{ define "main-script" }}
    <script type="module" src="{{ site.Params.cdnUrl }}{{ index site.Data.manifest "/js/servers.js" }}"></script>
{{ end }}

