{{ define "main" }}
{{- partial "products-nav.html" . -}}
<section class="content">
    <div class="content__text">
        <h1>{{ .Params.section }}</h1>
        <div class="listing">
            <nav id="nav">
                {{ $listItem := .Params.listItem }}
                {{ range .Parent.Pages }}
                <a class="{{ if eq .Params.listItem $listItem }}active{{ end }}" href="{{ .URL }}">{{ .Params.listItem }}</a>
                {{ end }}
            </nav>
            <main id="main">
                {{ if isset .Params "contents" }}
                <h2>{{ .Params.h2 }}</h2>
                {{ end }}
                {{ if isset .Params "contents" }}
                <ul>
                    {{ range .Params.contents }}
                    <li><a href="#{{ .item.anchor }}">{{ .item.title }}</a>
                    {{ if isset .item "subitems" }}
                        <ul>
                            {{ range .item.subitems }}
                            <li><a href="#{{ .item.anchor }}">{{ .item.title }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <br>
                {{ end }}
                {{ .Content | markdownify }}
            </main>
        </div>
    </div>
</section>
{{- partial "suggest-an-edit.html" . -}}
{{ end }}
