@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-mono-v11-latin-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/roboto-mono-v11-latin-500.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/roboto-mono-v11-latin-600.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-mono-v11-latin-700.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/roboto-mono-v11-latin-italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/roboto-mono-v11-latin-500italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 600;
    src: url('/fonts/roboto-mono-v11-latin-600italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/roboto-mono-v11-latin-700italic.woff2') format('woff2');
    font-display: swap;
}
