<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" dir="ltr">  
  <head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="{{ site.Params.cdnUrl }}{{ index $.Site.Data.manifest "/css/pages.css" }}">
    {{ block "main-style" . }}{{ end }}

    {{ block "seo" . }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if isset .Params "hreflang" }}
    <link rel="alternate" href="{{ .Params.AlternateURL }}" hreflang="{{ .Params.Hreflang }}">
    {{ end }}
    {{ end }}

    <script src="{{ site.Params.cdnUrl }}{{ index $.Site.Data.manifest "/js/localisation.js" }}"></script>

    {{ if and (.IsTranslated) (ne .Title "404 Page not found") }}
        {{/* Redirect to the browser or localstorage language */}}
        <script type="text/javascript">
          if( "{{ $.Site.LanguageCode }}" != window.getLanguage()){
            window.location =  window.location.href.replace("{{ $.Site.LanguageCode }}", window.getLanguage());
          }
        </script>
    {{ end }}



  </head>
    <body onclick="">{{/* onclick="" fixes iOS Safari :hover touch events */}}
        <script>let t = localStorage.getItem('theme');if (t) {document.body.className=t + '-theme';}</script>         
        {{- partial "header.html" . -}}
        <main>
            {{- block "main" . }}{{- end }}
        </main>

        {{partial "footer.html" . }}

        {{ block "main-script" . }}{{ end }}
    </body>
</html>
