<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">  
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *.ivpn.net *.tamazaki.com;img-src * data:;script-src 'self' 'unsafe-inline' *.ivpn.net *.tamazaki.com *.sandbox.braintreegateway.com *.braintreegateway.com *.sandbox.braintree-api.com *.braintree-api.com *.paypal.com *.cardinalcommerce.com;style-src 'self' 'unsafe-inline' *.ivpn.net *.tamazaki.com;connect-src 'self' *.ivpn.net *.tamazaki.com *.cardinalcommerce.com *.sandbox.braintreegateway.com *.sandbox.braintree-api.com *.braintree-api.com *.braintreegateway.com *.paypal.com;frame-src 'self' *.ivpn.net *.tamazaki.com *.paypal.com *.sandbox.paypal.com *.braintreegateway.com *.kaptcha.com *.cardinalcommerce.com/;">
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="{{ site.Params.cdnUrl }}{{ index $.Site.Data.manifest "/css/pages.css" }}">
    {{ block "main-style" . }}{{ end }}

    {{ block "seo" . }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if isset .Params "hreflang" }}
    <link rel="alternate" href="{{ .Params.AlternateURL }}" hreflang="{{ .Params.Hreflang }}">
    {{ end }}
    {{ end }}
  </head>
    <body onclick="">{{/* onclick="" fixes iOS Safari :hover touch events */}}
        <script>let t = localStorage.getItem('theme');if (t) {document.body.className=t + '-theme';}</script>               
        {{- partial "header.html" . -}}
        <main>
            {{- block "main" . }}{{- end }}
        </main>

        {{partial "footer.html" . }}

        {{ block "main-script" . }}{{ end }}
    </body>
</html>
